@use "globals";
.asistanceSearch{
    &__body{
        &_cards{
            &--cardMain{
                &_fonts{
                    &--titleSm{
                        font-size: globals.$fon-3 ;
                    }

                    &--bodySm{
                        font-size: globals.$fon-7;
                    }

                    &--bodyMd{
                        font-size: globals.$fon-5;
                    }

                    &--bodylg{
                        font-size: 1rem;
                    }

                    &--flooterSm{
                        font-size: globals.$fon-7;
                    }

                    &--flooterMd{
                        font-size: globals.$fon-5;
                    }
                }
            }
        }

        &_modals{
            &--header{
                &_fonts{
                    &--titleSm{
                        font-size: globals.$fon-5;
                    }

                    &--titleMd{
                        font-size: globals.$fon-3;
                    }
                }
            }

            &--body{
                &_fonts{
                    &--titleSm{
                        font-size: globals.$fon-4;
                    }
    
                    &--bodySm{
                        font-size: globals.$fon-7;
                    }
                }
            }

            &--flooter{
                &_fonts{
                    &--titleSm{
                        font-size: globals.$fon-4;
                    }

                    &--bodySm{
                        font-size: globals.$fon-5;
                    }
                }
            }
        }
    }
}