@use "globals";

html,


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev{
    color:  hsl(0, 100%, 50%) !important;
}

.swiper-button-next{
    color: hsl(0, 100%, 50%) !important ;
}

//scroll

.scroll {
  height: 16em;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}


//input check
.inputfoucus{
  &:focus{
    border-color: #86b7fe;
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb),.25);
    border: #FF0000 solid 1px;
  }
}

.form-check-input:checked {
  background-color: #FF0000;
  border-color: #FF0000;
}

//input 

.my-custom-select {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  color: #828282;
  background-color: #E0E0E0;
}

.my-custom-select select {
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  border: none;
  outline: none;
  position: relative;
  appearance: none;
}

.my-custom-select label {
  position: absolute;
  right: 1.2rem;
  margin: auto;
  display: flex;
}

.my-custom-select span {
  border-radius: .4rem;
  background-color: #E0E0E0;
}

//input button
//btn danger 
.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF0000;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb2d3b;
  --bs-btn-hover-border-color: #b02a37;
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b02a37;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

//input focus
.inputfoucus {
  &:focus {
    border-color: #86b7fe;
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
    border: #ff0000 solid 1px;
  }
}

/* Esto no es necesesario y puede borrarse */
.my-custom-select:focus-within {
    border: red solid 1px;
}

//componentes formularios 
.formulary{
  &__font{
    &--title{
      font-size: globals.$fon-4;

      @media (min-width: 1200px){
        font-size: 1.5rem;
      }
    }

    &--body{
      font-size: globals.$fon-5;

      @media(min-width: 1200px){
        font-size: 1rem;
      }
    }

    &--icon{
      font-size: 2rem;
    }
  }
}

//components index
.assitance{
  &__body{
      &_fonts{
          &--titleXl{
              font-size: 0.938rem;
          }
      }
  }
}

